@import url("https://fonts.googleapis.com/css?family=Doppio+One:400,600");
$main-tittle: "Doppio+One";
$big-tittle: 600;
$regular-tittle: 400;
@import url("https://fonts.googleapis.com/css?family=Lato:400,600");
$main-font: "Cabin";
$font-regular: 400;
$font-bold: 600;