footer.footer
  .container
    .columns
      .column
        h4.bd-footer-title: strong Siguenos en twitter como  
          a(href="https://www.facebook.com/lab.geoespacialcic") Lab Geoespacial CIC
          a.twitter-follow-button(href='https://twitter.com/PIIGLAB?ref_src=twsrc%6Etfw' data-show-count='false') Follow @PIIGLAB
          script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
        .bd-footer-iframe
          a.twitter-timeline(data-width='300px' data-height='300px' data-theme='light' href='https://twitter.com/PIIGLAB?ref_src=twsrc%5Etfw') Tweets by PIIGLAB
          script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      .column
        h4.bd-footer-title: Strong Añadenos en 
        a(href="https://www.facebook.com/piiglab.cicipn") Facebook
        .bd-footer-iframe.is-hidden-touch
          iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Flab.geoespacialcic%2Fposts%2F372027550840294&show_text=false&width=552&height=289&appId' width='400' height='200' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allow='encrypted-media')
      .column.is-one-fifth
        h4.bd-footer-title: Strong Visita nuestro sitio oficial: 
          a(href="https://piiglab.org/inicio/acerca-de/") PIIGLAB
          figure.image.is-square
            img(src="assets/img/piig-lab-logo2.jpg")
        .bd-footer-tittle
        .bd.footer-iframebd-footer-tsp
    //- .bd-footer-links
footer.footer(style="background: #672445")
    .container
      .content.has-text-centered
        p
          b INSTITUTO POLÍTECNICO NACIONAL
        p
          sub D.R. Instituto Politécnico Nacional (IPN). Av. Luis Enrique Erro S/N, Unidad Profesional Adolfo López Mateos, Zacatenco, Alcaldía Gustavo A. Madero, C.P. 07738, Ciudad de México, 2019. Conmutador: 55 57 29 60 00 / 55 57 29 63 00.
        p
          sub Esta página es una obra intelectual protegida por la Ley Federal del Derecho de Autor, puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica; su uso para otros fines, requiere autorización previa y por escrito del Centro de Investigación en Computación.
          hr
        p 
            sub Copyright © 2020 Todos los derechos reservados | Página producida por el laboratorio PIIG