include ../config/config
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css")
        link(rel="stylesheet" href="css/styles.css")
        link(href='css/bulma-carousel.min.css' rel='stylesheet')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css")
        title PIIGLAB COVID-19
        script(src="js/angular.min.js")
        script(src="js/app.js")
        script(src="js/index.js")
    body
        #fb-root
        script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0' nonce='vbOLdK3G')
        nav.navbar.is-light.has-shadow(role='navigation' aria-label='main navigation')
            .navbar-brand
                a.navbar-item(href='https://bulma.io')
                img(src='assets/img/ipn_cic.png' width='112' height='28')
                .navbar-start
                    h2.is-2.navbar-item.is-hidden-touch Laboratorio de Procesamiento Inteligente de Información Geoespacial
                    h3.title.navbar-item.is-3.is-hidden-desktop PIIGLAB
                a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
            #navbarBasicExample.navbar-menu
                .navbar-start
                .navbar-end
                    a.navbar-item(href="./index.html") Inicio
                    a.navbar-item(href="./covid-19.html") Covid-19
                    a.navbar-item(href="./contacto.html") Contacto
        script.
            document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
                });
            }
            });
    main
    block title
    block foot
    script(src="js/scripts-min.js")
    script(src="js/particles.min.js")


