:root, [data-theme="default"] { --color-primary-darker: #0000; --color-primary-dark: gray; --color-primary: hsl(220, 90%, 56%); --color-primary-light: #dcdcdc; --color-primary-lighter: #ffffff; --color-primary-a20: hsla(220, 90%, 56%, 0.2); --color-accent-darker: hsl(355, 90%, 41%); --color-accent-dark: hsl(355, 90%, 51%); --color-accent: hsl(355, 90%, 61%); --color-accent-light: hsl(355, 90%, 71%); --color-accent-lighter: hsl(355, 90%, 81%); --color-bg: hsl(0, 0%, 100%); --color-bg-a00: hsla(0, 0%, 100%, 0); --color-contrast-lower: hsl(0, 0%, 95%); --color-contrast-low: hsl(240, 1%, 83%); --color-contrast-medium: hsl(240, 1%, 48%); --color-contrast-high: hsl(240, 4%, 20%); --color-contrast-higher: hsl(240, 8%, 12%); --color-contrast-higher-a90: hsla(240, 8%, 12%, 0.9); }

.footer { color: white; bottom: 0; z-index: 100; position: relative; }

.inicio { color: white; }

@media screen and (min-width: 360px) { .inicio { position: relative; height: 70vh; display: grid; grid-template-columns: 60% 40%; justify-items: center; align-items: center; }
  .inicio__img, .inicio__text { position: absolute; opacity: 0; transition: opacity 1s; width: 50%; top: 0; }
  .inicio__img { padding-left: 1rem; left: 0; }
  .inicio__text { left: 50%; font-size: 1rem; padding: 0 1rem; }
  .inicio__text h2 { margin: 0; } }

.show { opacity: 1; }

.controls { width: 50%; margin: 0 auto; margin-bottom: 20px; display: flex; justify-content: space-between; color: white; }

.tittleBar__lab__mobile { width: 70px; display: flex; margin: auto; }

@media screen and (min-width: 360px) { .tittleBar__lab__mobile { display: none; } }

.tittleBar__lab__desktop { width: 100vw; }

@media screen and (max-width: 360px) { .tittleBar__lab__desktop { display: none; } }

#particles-js canvas { position: absolute; background: #2c2e43; height: 100vh; z-index: -1; }

#particles-js-covid canvas { position: absolute; height: 100vh; z-index: -1; }

.main { display: flex; min-height: 100vh; flex-direction: column; }

.section { flex: 1; }

.menu_horizontal { height: 50px; width: 100vw; background-color: red; }

ul, li { padding: 0; margin: 0; list-style: none; }

ul.slider { position: relative; width: 1556px; height: 1100px; }

ul.slider li { position: absolute; left: 0px; top: 0px; opacity: 0; width: inherit; height: inherit; transition: opacity .5s; background: #fff; }

ul.slider li img { width: 60%; height: 60%; }

ul.slider li:first-child { opacity: 1; /*Mostramos el primer <li>*/ }

ul.slider li:target { opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/ }

.menu { text-align: center; margin: 20px; }

.menu li { display: inline-block; text-align: center; }

.menu li a { color: block; text-decoration: none; padding: 10px; width: 20px; height: 20px; font-size: 20px; }

.card { color: aquamarine; }

.zoom:hover { -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -ms-transform: scale(1.03); -moz-transform: scale(1.03); -webkit-transform: scale(1.03); transition: all 0.5s ease; transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */ }

.zoom { overflow: hidden; }
