.logo {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: .5rem;
    left: .1rem;
    z-index: 200;
    background-color: transparent;


    &__img{
        max-width: 100%;
    }

    @include laptop{
        position: absoluta;
        left: 1%;
        top: .5rem;
        width: 8%;
    }
}