.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    background-color: $contrast-color;
    padding-left: 60px;
    z-index: 100;

    &__lab__mobile{
        width: 70px;
        display: flex;
        margin: auto;
        @include laptop{
            display: none;
        }
    }

    &__lab__desktop{
        width: 100vw;
        @include mobile{
            display: none;
        }
    }

    @include laptop{
        height: 55px;
        left: 100%;
        width: 100vw;
        justify-content: space-evenly;
        transform: translateX(-100%);
        color:$text-color;
        padding-left: 250px;
        border-bottom: 1px solid $secondary-color;
    }
    
}