//- nav.navbar.is-light(vGrole='navigation' aria-label='main navigation')
//-     .navbar-brand
//-         a.navbar-item(href='https://bulma.io')
//-         img(src='assets/img/ipn_cic.png' width='112' height='28')
//-         h4.title.is-4.is-hidden-touch Laboratorio de Procesamiento Inteligente de Información Geoespacial
//-         h3.title.is-3.is-hidden-desktop PIIGLAB
//-         a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
//-         span(aria-hidden='true')
//-         span(aria-hidden='true')
//-         span(aria-hidden='true')
//-         #navbarBasicExample.navbar-menu
//-             .navbar-start
//-             .navbar-end
//-         each page, index in pages
//-             a.navbar-item(href='/${page}.html')= page